<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.music.mapper.AmountstatusMapper" >
  <resultMap id="BaseResultMap" type="cn.music.po.Amountstatus" >
    <id column="amountStatusid" property="amountstatusid" jdbcType="INTEGER" />
    <result column="amountStatusvalue" property="amountstatusvalue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    amountStatusid, amountStatusvalue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from amountstatus
    where amountStatusid = #{amountstatusid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from amountstatus
    where amountStatusid = #{amountstatusid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.music.po.Amountstatus" >
    insert into amountstatus (amountStatusid, amountStatusvalue
      )
    values (#{amountstatusid,jdbcType=INTEGER}, #{amountstatusvalue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.music.po.Amountstatus" >
    insert into amountstatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="amountstatusid != null" >
        amountStatusid,
      </if>
      <if test="amountstatusvalue != null" >
        amountStatusvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="amountstatusid != null" >
        #{amountstatusid,jdbcType=INTEGER},
      </if>
      <if test="amountstatusvalue != null" >
        #{amountstatusvalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.music.po.Amountstatus" >
    update amountstatus
    <set >
      <if test="amountstatusvalue != null" >
        amountStatusvalue = #{amountstatusvalue,jdbcType=VARCHAR},
      </if>
    </set>
    where amountStatusid = #{amountstatusid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.music.po.Amountstatus" >
    update amountstatus
    set amountStatusvalue = #{amountstatusvalue,jdbcType=VARCHAR}
    where amountStatusid = #{amountstatusid,jdbcType=INTEGER}
  </update>
</mapper>