<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.music.mapper.CatogeryCMapper" >
  <resultMap id="BaseResultMap" type="cn.music.po.CatogeryC" >
    <id column="categoryId" property="categoryid" jdbcType="INTEGER" />
    <result column="singer" property="singer" jdbcType="VARCHAR" />
    <result column="originalSinger" property="originalsinger" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.music.po.CatogeryC" extends="BaseResultMap" >
    <result column="creativeInspiration" property="creativeinspiration" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    categoryId, singer, originalSinger
  </sql>
  <sql id="Blob_Column_List" >
    creativeInspiration
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from catogery_c
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from catogery_c
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.music.po.CatogeryC" >
    insert into catogery_c (categoryId, singer, originalSinger, 
      creativeInspiration)
    values (#{categoryid,jdbcType=INTEGER}, #{singer,jdbcType=VARCHAR}, #{originalsinger,jdbcType=VARCHAR}, 
      #{creativeinspiration,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.music.po.CatogeryC" >
    insert into catogery_c
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryid != null" >
        categoryId,
      </if>
      <if test="singer != null" >
        singer,
      </if>
      <if test="originalsinger != null" >
        originalSinger,
      </if>
      <if test="creativeinspiration != null" >
        creativeInspiration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="singer != null" >
        #{singer,jdbcType=VARCHAR},
      </if>
      <if test="originalsinger != null" >
        #{originalsinger,jdbcType=VARCHAR},
      </if>
      <if test="creativeinspiration != null" >
        #{creativeinspiration,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.music.po.CatogeryC" >
    update catogery_c
    <set >
      <if test="singer != null" >
        singer = #{singer,jdbcType=VARCHAR},
      </if>
      <if test="originalsinger != null" >
        originalSinger = #{originalsinger,jdbcType=VARCHAR},
      </if>
      <if test="creativeinspiration != null" >
        creativeInspiration = #{creativeinspiration,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.music.po.CatogeryC" >
    update catogery_c
    set singer = #{singer,jdbcType=VARCHAR},
      originalSinger = #{originalsinger,jdbcType=VARCHAR},
      creativeInspiration = #{creativeinspiration,jdbcType=LONGVARCHAR}
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.music.po.CatogeryC" >
    update catogery_c
    set singer = #{singer,jdbcType=VARCHAR},
      originalSinger = #{originalsinger,jdbcType=VARCHAR}
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
</mapper>