<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.music.mapper.CatogerySMapper" >
  <resultMap id="BaseResultMap" type="cn.music.po.CatogeryS" >
    <id column="categoryId" property="categoryid" jdbcType="INTEGER" />
    <result column="singer" property="singer" jdbcType="VARCHAR" />
    <result column="writeLyric" property="writelyric" jdbcType="VARCHAR" />
    <result column="compose" property="compose" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.music.po.CatogeryS" extends="BaseResultMap" >
    <result column="shareReason" property="sharereason" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    categoryId, singer, writeLyric, compose
  </sql>
  <sql id="Blob_Column_List" >
    shareReason
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from catogery_s
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from catogery_s
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.music.po.CatogeryS" >
    insert into catogery_s (categoryId, singer, writeLyric, 
      compose, shareReason)
    values (#{categoryid,jdbcType=INTEGER}, #{singer,jdbcType=VARCHAR}, #{writelyric,jdbcType=VARCHAR}, 
      #{compose,jdbcType=VARCHAR}, #{sharereason,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.music.po.CatogeryS" >
    insert into catogery_s
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryid != null" >
        categoryId,
      </if>
      <if test="singer != null" >
        singer,
      </if>
      <if test="writelyric != null" >
        writeLyric,
      </if>
      <if test="compose != null" >
        compose,
      </if>
      <if test="sharereason != null" >
        shareReason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="singer != null" >
        #{singer,jdbcType=VARCHAR},
      </if>
      <if test="writelyric != null" >
        #{writelyric,jdbcType=VARCHAR},
      </if>
      <if test="compose != null" >
        #{compose,jdbcType=VARCHAR},
      </if>
      <if test="sharereason != null" >
        #{sharereason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.music.po.CatogeryS" >
    update catogery_s
    <set >
      <if test="singer != null" >
        singer = #{singer,jdbcType=VARCHAR},
      </if>
      <if test="writelyric != null" >
        writeLyric = #{writelyric,jdbcType=VARCHAR},
      </if>
      <if test="compose != null" >
        compose = #{compose,jdbcType=VARCHAR},
      </if>
      <if test="sharereason != null" >
        shareReason = #{sharereason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.music.po.CatogeryS" >
    update catogery_s
    set singer = #{singer,jdbcType=VARCHAR},
      writeLyric = #{writelyric,jdbcType=VARCHAR},
      compose = #{compose,jdbcType=VARCHAR},
      shareReason = #{sharereason,jdbcType=LONGVARCHAR}
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.music.po.CatogeryS" >
    update catogery_s
    set singer = #{singer,jdbcType=VARCHAR},
      writeLyric = #{writelyric,jdbcType=VARCHAR},
      compose = #{compose,jdbcType=VARCHAR}
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
</mapper>