<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.music.mapper.LanguageMapper" >
  <resultMap id="BaseResultMap" type="cn.music.po.Language" >
    <id column="languageid" property="languageid" jdbcType="INTEGER" />
    <result column="languagevalue" property="languagevalue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    languageid, languagevalue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from language
    where languageid = #{languageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from language
    where languageid = #{languageid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.music.po.Language" >
    insert into language (languageid, languagevalue)
    values (#{languageid,jdbcType=INTEGER}, #{languagevalue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.music.po.Language" >
    insert into language
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="languageid != null" >
        languageid,
      </if>
      <if test="languagevalue != null" >
        languagevalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="languageid != null" >
        #{languageid,jdbcType=INTEGER},
      </if>
      <if test="languagevalue != null" >
        #{languagevalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.music.po.Language" >
    update language
    <set >
      <if test="languagevalue != null" >
        languagevalue = #{languagevalue,jdbcType=VARCHAR},
      </if>
    </set>
    where languageid = #{languageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.music.po.Language" >
    update language
    set languagevalue = #{languagevalue,jdbcType=VARCHAR}
    where languageid = #{languageid,jdbcType=INTEGER}
  </update>
</mapper>