<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.music.mapper.MusiclibraryMapper" >
  <resultMap id="BaseResultMap" type="cn.music.po.Musiclibrary" >
    <id column="musicId" property="musicid" jdbcType="INTEGER" />
    <id column="categoryId" property="categoryid" jdbcType="INTEGER" />
    <result column="musicName" property="musicname" jdbcType="VARCHAR" />
    <result column="categorydetail_id" property="categorydetailId" jdbcType="INTEGER" />
    <result column="styleid" property="styleid" jdbcType="INTEGER" />
    <result column="languageid" property="languageid" jdbcType="INTEGER" />
    <result column="downloadPermissionsid" property="downloadpermissionsid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.music.po.Musiclibrary" extends="BaseResultMap" >
    <result column="lyric" property="lyric" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    musicId, categoryId, musicName, categorydetail_id, styleid, languageid, downloadPermissionsid
  </sql>
  <sql id="Blob_Column_List" >
    lyric
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="cn.music.po.MusiclibraryKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from musiclibrary
    where musicId = #{musicid,jdbcType=INTEGER}
      and categoryId = #{categoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.music.po.MusiclibraryKey" >
    delete from musiclibrary
    where musicId = #{musicid,jdbcType=INTEGER}
      and categoryId = #{categoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.music.po.Musiclibrary" >
    insert into musiclibrary (musicId, categoryId, musicName, 
      categorydetail_id, styleid, languageid, 
      downloadPermissionsid, lyric)
    values (#{musicid,jdbcType=INTEGER}, #{categoryid,jdbcType=INTEGER}, #{musicname,jdbcType=VARCHAR}, 
      #{categorydetailId,jdbcType=INTEGER}, #{styleid,jdbcType=INTEGER}, #{languageid,jdbcType=INTEGER}, 
      #{downloadpermissionsid,jdbcType=INTEGER}, #{lyric,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.music.po.Musiclibrary" >
    insert into musiclibrary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="musicid != null" >
        musicId,
      </if>
      <if test="categoryid != null" >
        categoryId,
      </if>
      <if test="musicname != null" >
        musicName,
      </if>
      <if test="categorydetailId != null" >
        categorydetail_id,
      </if>
      <if test="styleid != null" >
        styleid,
      </if>
      <if test="languageid != null" >
        languageid,
      </if>
      <if test="downloadpermissionsid != null" >
        downloadPermissionsid,
      </if>
      <if test="lyric != null" >
        lyric,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="musicid != null" >
        #{musicid,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="musicname != null" >
        #{musicname,jdbcType=VARCHAR},
      </if>
      <if test="categorydetailId != null" >
        #{categorydetailId,jdbcType=INTEGER},
      </if>
      <if test="styleid != null" >
        #{styleid,jdbcType=INTEGER},
      </if>
      <if test="languageid != null" >
        #{languageid,jdbcType=INTEGER},
      </if>
      <if test="downloadpermissionsid != null" >
        #{downloadpermissionsid,jdbcType=INTEGER},
      </if>
      <if test="lyric != null" >
        #{lyric,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.music.po.Musiclibrary" >
    update musiclibrary
    <set >
      <if test="musicname != null" >
        musicName = #{musicname,jdbcType=VARCHAR},
      </if>
      <if test="categorydetailId != null" >
        categorydetail_id = #{categorydetailId,jdbcType=INTEGER},
      </if>
      <if test="styleid != null" >
        styleid = #{styleid,jdbcType=INTEGER},
      </if>
      <if test="languageid != null" >
        languageid = #{languageid,jdbcType=INTEGER},
      </if>
      <if test="downloadpermissionsid != null" >
        downloadPermissionsid = #{downloadpermissionsid,jdbcType=INTEGER},
      </if>
      <if test="lyric != null" >
        lyric = #{lyric,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where musicId = #{musicid,jdbcType=INTEGER}
      and categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.music.po.Musiclibrary" >
    update musiclibrary
    set musicName = #{musicname,jdbcType=VARCHAR},
      categorydetail_id = #{categorydetailId,jdbcType=INTEGER},
      styleid = #{styleid,jdbcType=INTEGER},
      languageid = #{languageid,jdbcType=INTEGER},
      downloadPermissionsid = #{downloadpermissionsid,jdbcType=INTEGER},
      lyric = #{lyric,jdbcType=LONGVARCHAR}
    where musicId = #{musicid,jdbcType=INTEGER}
      and categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.music.po.Musiclibrary" >
    update musiclibrary
    set musicName = #{musicname,jdbcType=VARCHAR},
      categorydetail_id = #{categorydetailId,jdbcType=INTEGER},
      styleid = #{styleid,jdbcType=INTEGER},
      languageid = #{languageid,jdbcType=INTEGER},
      downloadPermissionsid = #{downloadpermissionsid,jdbcType=INTEGER}
    where musicId = #{musicid,jdbcType=INTEGER}
      and categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
</mapper>