<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.music.mapper.MusicdownloadMapper" >
  <resultMap id="BaseResultMap" type="cn.music.po.Musicdownload" >
    <id column="downloadId" property="downloadid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="musicId" property="musicid" jdbcType="INTEGER" />
    <result column="downloadTime" property="downloadtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    downloadId, userId, musicId, downloadTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from musicdownload
    where downloadId = #{downloadid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from musicdownload
    where downloadId = #{downloadid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.music.po.Musicdownload" >
    insert into musicdownload (downloadId, userId, musicId, 
      downloadTime)
    values (#{downloadid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{musicid,jdbcType=INTEGER}, 
      #{downloadtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.music.po.Musicdownload" >
    insert into musicdownload
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="downloadid != null" >
        downloadId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="musicid != null" >
        musicId,
      </if>
      <if test="downloadtime != null" >
        downloadTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="downloadid != null" >
        #{downloadid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="musicid != null" >
        #{musicid,jdbcType=INTEGER},
      </if>
      <if test="downloadtime != null" >
        #{downloadtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.music.po.Musicdownload" >
    update musicdownload
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="musicid != null" >
        musicId = #{musicid,jdbcType=INTEGER},
      </if>
      <if test="downloadtime != null" >
        downloadTime = #{downloadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where downloadId = #{downloadid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.music.po.Musicdownload" >
    update musicdownload
    set userId = #{userid,jdbcType=VARCHAR},
      musicId = #{musicid,jdbcType=INTEGER},
      downloadTime = #{downloadtime,jdbcType=TIMESTAMP}
    where downloadId = #{downloadid,jdbcType=INTEGER}
  </update>
</mapper>