/*
*顶端固定导航条样式
*/
body{
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}
.container{
    min-width: 1000px;
    margin: 0 auto;
}
img { -ms-interpolation-mode: bicubic;
}
.head{
    background-image:linear-gradient(rgba(70, 99, 152, 0.82),rgba(75, 97, 92, 0.61));
    background-color: #0f0f0f;
    height: 80px;
    position: fixed;
    top:0px;
    width: 100%;
}
p{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a,a:hover,a:link{
    text-decoration: none;
}
img{
    border: 0;
}
.head .top{
    height:80px;
    line-height: 80px;

}
.top .logo {
    float: left;
    height: 80px;
    /*
    overflow: hidden;
    */
    margin-right: 20px;
}
.top .logo img{
    /*
    height: 80%;
    */
}
.top .search{
    float: left;
    width: 330px;
    height: 40px;
    /* line-height: 40px; */
    top: 10px;
    position: relative;
    border-radius: 50px;
    border: solid 1px dodgerblue;
    margin: 10px 0;
    background-color: transparent;
}
.top .rnav{
    float: right;
    height: 80px;
    line-height: 80px;
    color: white;
    font-size: 16px;
}
.ell{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.search #search_text,.search #search_text:focus{
    float: left;
    width: 300px;
    height: 40px;
    border-radius: 50px 0 0 50px;
    border-color:transparent;
    border-right:solid 1px dodgerblue;
    background-color: transparent;
    outline: none;
    padding-left: 10px;
    color: #2aabd2;
}
.search>a{
    float: right;
    width: 25px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.rnav .rnav_items{
    list-style: none;
}
.search a:hover{
    color: #2b669a;
}
.rnav_items li{
    float: left;
    padding-left: 20px;
}
.rnav li a{
    color: white;
}
.rnav li a:hover{
    color: dodgerblue;
    text-decoration: none;
}
.nav>li>a {
    padding: 10px 40px;
    color: white;
}
.nav>li>a:hover{
    background-color:transparent;
    color:rgba(110,195,117,0.86);
}